<ion-header>
  <ion-navbar>
    <ion-title>
      {{ this.quoteGroup?.category | uppercase }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup?.quotes; let i = index">
    <ion-card-header text-center>
      # {{ i + 1 }}
    </ion-card-header>
    <ion-card-content>
      <p> {{ this.quote.text }} </p>
      <p class="author"> {{ this.quote.person }} </p>
    </ion-card-content>
    <ion-row>
      <!-- <ion-col>
        <button ion-button small clear>like</button>
      </ion-col> -->
      <ion-col text-left>
        <button ion-button small clear (click)="onShareSocial(quote)"><ion-icon name="share"></ion-icon></button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small (click)="onAddToFavorite(quote)" *ngIf="!isFavorite(quote)">Favorites</button>

        <button ion-button clear small (click)="onRemoveFromFavorites(quote)" *ngIf="isFavorite(quote)" color="danger">
          Unfavorites
        </button>
      </ion-col>




    </ion-row>
  </ion-card>
</ion-content>
